<h1> <%= @current_list.name() %> </h1>



<form action='/tasks' method="post" >
  <input type="hidden" name="id" value="<%= @id %>">

  <div class="form-group">
    <label for="new_task">Nouvelle tâche: </label>
    <input id="new_task" name="description" class="form-control" type="text" placeholder="Qu'avez-vous à faire?" autofocus>
    
  </div>
  <div class="form-group">
    <label for="task_date" >à réaliser avant le (date): </label>
    <input type="date" name="task_date" id="task_date">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Insérer</button>
  </div>
</form>
<h1>Liste:</h1>
<% if @tasks.nil?.!() %>
  <ul id="task" class="list-group">
    
    <% @tasks.each() do |task| %>
      <li class="list-group-item"><%= task.description() %>: <%= task.date() %><a href="/delete_task/<%= task.id() %>/<%= @id %>"><span class="glyphicon glyphicon-trash pull-right" aria-hidden="true" style="color:white;"></span></a>
</li> 
    <% end %> 
  </ul>
<% else %>
  <p>Il n'y a pas encore de tâches ici ...
<% end %>
<form action='/tasks_clear' method="post">
  
  <button type="submit" class="btn btn-danger" name="id" value="<%= @current_list.id() %>" >Nettoyer la liste!</button>
</form>





